/* color swatches  */
:root {
  --swatch-misty-rose: #fbe8e0;
  --swatch-snow: #fcf8f6;
  --swatch-transparent-black: rgba(0, 0, 0, 0.2);
}

/* default variables */
:root {
  --surface-color: var(--swatch-snow);
  --foreground-color: var(--swatch-misty-rose);
  --shadow-color: var(--swatch-transparent-black);
}

* {
  box-sizing: border-box;
}

html {
  background: var(--surface-color);
  margin: 0;
  padding: 0;
}

body {
  background: var(--surface-color);
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 20px;
}

#deck {
  display: flex;
  gap: 8px;
  flex-direction: column;
  justify-content: space-space-around;
}

.card {
  background: var(--foreground-color);
  border-radius: 4px;
  box-shadow: 4px 4px 7px -3px var(--shadow-color);
  display: flex;
  flex-shrink: 0;
  height: 414px;
  margin: 20px;
  width: 296px;
}

.list-item {
  align-items: center;
  background: var(--foreground-color);
  border-radius: 4px;
  box-shadow: 4px 4px 7px -3px var(--shadow-color);
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  gap: 40px;
  justify-content: space-between;
  padding: 24px 12px;
  width: 100%;
}

.list-item-name {
  text-transform: uppercase;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}
