/* color swatches  */
:root {
  --swatch-misty-rose: #fbe8e0;
  --swatch-snow: #fcf8f6;
  --swatch-transparent-black: rgba(0, 0, 0, 0.2);
}

/* default variables */
:root {
  --surface-color: var(--swatch-snow);
  --foreground-color: var(--swatch-misty-rose);
  --shadow-color: var(--swatch-transparent-black);
}

* {
  box-sizing: border-box;
}

html {
  background: var(--surface-color);
  margin: 0;
  padding: 0;
}

body {
  background: var(--surface-color);
  display: flex;
  font-family: system-ui, sans-serif;
  justify-content: center;
  margin: 0;
  padding: 20px;
}

#card-holder {
  background: var(--swatch-transparent-black);
  display: flex;
  height: 100%;
  left: 0;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
}

#card-data {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 20px;
}

#card-data div {
  margin: 10px;
}

#card-data #title {
  font-family: fantasy;
  font-size: 2em;
}

#card-data #category::before {
  content: "Category";
  display: block;
  font-family: fantasy, sans-serif;
  font-size: 1.5em;
}

#card-data #category {
  font-size: 1em;
}

#card-data #definition::before {
  content: "Definition";
  display: block;
  font-family: fantasy, sans-serif;
  font-size: 1.5em;
}

#card-data #definition {
  font-size: 1em;
}

#card-data #conception::before {
  content: "Conception";
  display: block;
  font-family: fantasy, sans-serif;
  font-size: 1.5em;
}

#card-data #conception {
  font-size: 1em;
}

#card-data #planning::before {
  content: "Planning";
  display: block;
  font-family: fantasy, sans-serif;
  font-size: 1.5em;
}

#card-data #planning {
  font-size: 1em;
}

#card-data #msc::before {
  content: "MSC";
  display: block;
  font-family: fantasy, sans-serif;
  font-size: 1.5em;
}

#card-data #msc {
  font-size: 1em;
}

#deck {
  display: flex;
  gap: 8px;
  flex-direction: column;
  justify-content: space-space-around;
}

.card {
  background: var(--foreground-color);
  border-radius: 4px;
  box-shadow: 4px 4px 7px -3px var(--shadow-color);
  display: flex;
  flex-shrink: 0;
  height: 100%;
  width: 100%;
}

.list-item {
  align-items: center;
  background: var(--foreground-color);
  border-radius: 4px;
  box-shadow: 4px 4px 7px -3px var(--shadow-color);
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  gap: 40px;
  justify-content: space-between;
  padding: 24px 12px;
  width: 100%;
}

.list-item-name {
  text-transform: uppercase;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}
